.team-member {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member-image {
  width: 20%;
  height: 250px;
  object-fit: cover;
}

.team-member-description {
  width: 75%;
  color: white;
}

.left {
  order: 1;
}

.right {
  order: 2;
}

.left-header{
  text-align: left;
}

.right-header {
  text-align: right;
}
