.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.team-member-divider {
  height: 1px;
  width: 100%;
  background-color: #65737e;
  border: none;
}
